<h3>HI</h3>
<form class="example-form"  >
<h5 style="font-size: 14px;">Do you want to add it as a favourite product then you have to login/register first?</h5><br>
<div class="button-row">
  <a mat-stroked-button style="margin-right:3%;margin-top:5%;float:left;" color="accent" class="notDelete" [routerLink]=""   routerLinkActive="active" input type="submit1"(click)="cancel()">Cancel</a>
  <a mat-stroked-button style="margin-right:3%;margin-top:5%;text-align:center;" color="accent" class="delete" [routerLink]="['/registration']"  routerLinkActive="active" input type="submit"(click)="registration()">Registration</a>
  <a mat-stroked-button style="margin-right:3%;margin-top:5%;float:right;" color="accent" class="delete" [routerLink]="['/auth/login']"  routerLinkActive="active" input type="submit"(click)="login()">Login</a>
</div></form>