<div class="container-flud bg-3 text-center fullCard" *ngIf="user">    
    <div class="row">
            <div class="col-sm-4 ">
          <mat-card class="example-card1 ">
            <img mat-card-image src="../../assets/images/download.jpeg">
            <mat-card-content>
              <div class="price">
                    <label style="color: brown"><pre><b>Price        {{user.price}}</b></pre></label>
              </div>
            </mat-card-content>
            <mat-card-footer>
                    <button mat-button class="eicon"><mat-icon class="example-icon" (click)="openDialog(user.id)"> favorite </mat-icon></button>
                  </mat-card-footer>
        </mat-card>
   
        </div>
        <div class="col-sm-8 well">
            <div class="row " >
        <div class="col-sm-3"> 
                <p>name</p>
               </div>
              <div class="col-sm-9">
                <p>{{user.name}}</p>
                </div>
            </div>
          
            <div class="row">
              <div class="col-sm-3"> 
                <p>Discription</p>
                 </div>
              <div class="col-sm-9">
                <p>{{user.description}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3"> 
                    <p>Quentity</p>
                </div>
                <div class="col-sm-9">
                    <p>{{user.quantity}}</p>
                </div>
            </div>
            <div class="row">
                    <div class="col-sm-3"> 
                        <p>Seller name</p>
                    </div>
                    <div class="col-sm-9">
                        <!-- <p>{{user.seller}}</p> -->
                    </div>
            </div> 
            <div class="row">
                <div class="col-sm-3"> 
                    <p>seller id</p>
                </div>
                <div class="col-sm-9">
                    <p>{{user.id}}</p>
                </div>
            </div>                                                     
        </div>
    </div>
    <br>
    <div class="row">
            <div class="col-sm-12"> 
        <div class="example-button-row"style="text-align:center"(click)="close()">
            <button mat-raised-button color="." >Cancel</button>
            </div>
            </div>    
    </div>
</div>          