.mat-radio-button ~ .mat-radio-button {
    padding-right: 16px;
  }
  .example-form {

    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
   
   
  }
  .example-card {

    background-color: white;
    z-index: 20%;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 24%;
    margin-right: 24%;
    text-align: center;
  
  }
  
  .example-header-image {
      float: center;
      margin-left: 40%;
   
    
  }
  .width
  {
    text-align: center;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    height: 50%;
  }
  .error-danger{
    color: red;
    margin-top: -12px;
    margin-top: 0px;
  }
  .text-danger{
    color: red !important;
  }