<app-header></app-header>
<router-outlet></router-outlet>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <a [routerLink]="['/buyer']" href=""  routerLinkActive="active">Products</a>   
    </div>
    <div class="col-sm-6">
      
        <div class="container"> 
            <div >
                <mat-form-field class="example-full-width1" appearance="outline">
                    <form id="search">
                    <input type="text" [(ngModel)]="userFilter.name" matInput placeholder="Search" id="search" [ngModelOptions]="{standalone: true}">
                    <i class="material-icons" (click)="searching()" style="font-size: 17px !important;float:right;color:brown;margin-top: -2.5%;">search</i>
                  </form>      
                </mat-form-field>
            </div>
        </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

<mat-icon (click)="back()"class="group">arrow_back</mat-icon>
<div  *ngFor="let data of arrUser | filterBy: userFilter">
  <mat-card class="example-card1 " >
      <img mat-card-image src="../../assets/images/download.jpeg">
      <mat-card-content>
        <div class="price">
              <label style="color: brown"><pre><b>Price      {{data.price}}  </b></pre></label>
        </div>
        <div class="dname">
              <div class="name"><label><pre>Name         {{data.name}}</pre></label></div>
              <div style="color:blueviolet"><label><pre>Description  {{data.description}}</pre></label></div>
          </div>
      </mat-card-content>
      <mat-card-footer>
                <button mat-button class="ficon" ([ngModel])="icon"> <mat-icon class="example-icon white-icon"  (click)="openDialog(data.id)" style="color:red" id="wave1"[ngClass]="status ? 'success' : 'danger'" > favorite </mat-icon></button>
            </mat-card-footer>
        </mat-card>
      </div>
      <div *ngIf="!arrUser">
          <p class="fproduct">no product found</p>  
          </div>

          <div *ngIf="arrUser">
            <ul>
              <!-- in case you want to show empty message -->
              <li *ngIf="(arrUser | filterBy: userFilter).length === 0">No matching elements</li>
            </ul>
        </div>  