<app-header></app-header>
<a  ><mat-icon (click)="back()" class="group">arrow_back</mat-icon></a>
<div class="container-flud bg-3 text-center fullCard">    
    <div class="row">
            <div class="col-sm-4 ">
          <mat-card class="example-card1 ">
            <img mat-card-image src="../../assets/images/download.jpeg">
            <mat-card-content>
              <div class="price">
                    <label style="color: brown"><pre><b>Price        4000</b></pre></label>
              </div>
            </mat-card-content>
            <mat-card-footer>
                    <button mat-button class="eicon"><mat-icon class="example-icon" (click)="editDialog()"> edit </mat-icon></button>
                    <button mat-button class="dicon"><mat-icon class="example-icon" (click)="deleteDialog()" class="dicon"> delete </mat-icon></button>
                </mat-card-footer>
        </mat-card>
   
        </div>
        <div class="col-sm-8 well">
            <div class="row " >
        <div class="col-sm-3"> 
                <p>name</p>
               </div>
              <div class="col-sm-9">
                <p>mi 5pro</p>
                </div>
            </div>
          
            <div class="row">
              <div class="col-sm-3"> 
                <p>Discription</p>
                 </div>
              <div class="col-sm-9">
                <p>Essence is one of the most innovative footwear brand . It is famous for its quality, worth able, style, comfort and many more reasons. Essence promise its user a better quality shoe at a very competed prices. Every time you buy essence you will be glades. Remember its not a shoe its the essence of your fee</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3"> 
                    <p>Quentity</p>
                </div>
                <div class="col-sm-9">
                    <p>789979</p>
                </div>
            </div>
            <div class="row">
                    <div class="col-sm-3"> 
                        <p>Seller name</p>
                    </div>
                    <div class="col-sm-9">
                        <p>Ram</p>
                    </div>
            </div> 
            <div class="row">
                <div class="col-sm-3"> 
                    <p>seller Company</p>
                </div>
                <div class="col-sm-9">
                    <p>Digiapt</p>
                </div>
            </div>                                                     
        </div>
    </div>
</div>          
