.example-card1 {
    
  max-width:100%;
  max-height: 100%;
    float:center;
    margin-top: 3%;
    
  }
  
  .filled
{
  max-width: 500px;
  color: #4a83c0;
  background-color: #fff;
  cursor: auto;

}
  img
  {
    max-height: 100%;
    max-width: 100%;
  }
  
.price
{
  background-color: darkseagreen;padding:5.5%;width:112%; margin-left: -5.5%;
  text-align: left;
}
.name
{
  color:blueviolet; margin-top:-2%; margin-bottom: -2%;
}
.dname
{
  padding: 5%;width:100%; margin-left: -5.5%;
}
.ficon
{
  float:left; padding:1%;
}
.row
{
  text-align: left;
 margin-top: 3%;
  background: #fff;

}
.fulllCard
{
  background-color:black;
}
.well
{
  background: white;
  float: left;

}
.text-center
{
  margin-left: 2%;
  margin-right: 2%;
}
.group
{
    text-align: center;
    font-size: 45px !important;
    margin-top: 1%;
}