.mat-radio-button ~ .mat-radio-button {
    padding-right: 16px;
  }
  .example-form {

    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    margin-top: 5%;
   
  }
  .example-card {

    background-color: white;
    z-index: 20%;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 27%;
    margin-right: 24%;
    text-align: center;
  
  }
  
  .example-header-image {
      float: center;
      margin-left: 40%;
   
    
  }
  .width
  {
      text-align: center;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    height: 50%;
  }
 
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 18px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: green;
}


