
#search input[type=search].filled
{
  
size: 14px;
  color: #4a83c0;
  background-color: #fff;
  cursor: auto;

}
input[type=search]
{
    width:80%;
   
}
.right
{
    text-align: left;
    margin-top: 1.5%;
}
 
  .example-full-width {
    width: 100%;
   
   
  }
  .example-card1{

    background-color:transparent;
    z-index: 20%;
    width:100%;
    margin-right: 10%;
    margin-left: 10%;
    height: 80%;
    text-align: center;
  
  }
  a {
    display: block;
    color: rgb(5, 0, 0);
    text-align: center;
    padding: 25px 18px;
    text-decoration: none;
    font-size: 18px;
}
