<h3>HI</h3>
<form class="example-form" *ngIf="users" >
<h5 style="font-size: 14px;">Do you want to delete it ?</h5><br>
<div class="button-row">
  <a mat-stroked-button style="margin-right:3%;margin-top:5%;" color="accent" class="notDelete" [routerLink]=""   routerLinkActive="active" input type="submit1"(click)="cancel()">No thanks</a>
  <a mat-stroked-button style="margin-right:3%;margin-top:5%; float:right;" color="accent" class="delete" input type="submit"(click)="delete(users.id)">yes</a>
</div></form>